#division_barra{
    margin-top: 56px;
}

.nav-bar-pc-fixed {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    border-bottom: 2px solid hsl(257, 77%, 15%);
    display: flex;
    height: 56px;
    justify-content: space-between;
    padding: 0 24px;
    position: fixed;
    top: 0;
    width: 100%; /* Ajuste del ancho */
    z-index: 98;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}


.nav-bar-pc-bg {
    /*
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    ver para que sirve*/
    background: rgb(52, 48, 88);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}


#logo{
    border: 1px solid hsla(0,0%,100%,.1);
    cursor: pointer;
    height: 52px;
    width: 52px;
}

.nav-bar-pc-logo {
    background: url(/imagenes/logo.png) no-repeat 50%/contain;
    display: block;
    height: 75px;
    width: 114px;
    cursor: pointer; /* Añade un cursor de puntero para indicar que es un enlace */
}

.nav-bar-pc-logo a {
    display: block;
    width: 100%;
    height: 100%;
}


.nav-buscador {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(43, 40, 70);
    border: 1px solid hsla(0,0%,100%,.08);
    border-radius: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    padding: 0 8px;
    width: 50%;
}

.nav-buscador-lupa {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 16px;
    margin-right: 8px;
    width: 16px
}

.nav-buscador-lupa[focusing] path {
    fill: #fff;
    fill-opacity: 1
}

.user-panel-avatar img {
    border: 1px solid hsla(0,0%,100%,.1);
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px
}


#buscador {
    background-color: transparent;
    width: 700px;
    height: 23px;
    border: transparent;
    padding: 10px 5px 10px 5px;
    outline: none;
    box-sizing: border-box;
    color: blanchedalmond;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="search"]:-webkit-autofill,
input[type="search"]:-webkit-autofill:hover,
input[type="search"]:-webkit-autofill:focus,
input[type="search"]:-webkit-autofill:active {
    box-shadow: 0 0 0 30px rgb(43, 40, 70) inset !important;
    -webkit-text-fill-color: blanchedalmond !important;
}
