.nav-bar-pc-fixed {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    border-bottom: 1px solid hsl(0, 100%, 50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    justify-content: space-between;
    left: 0;
    padding: 0 24px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98
}

.nav-bar-pc-bg {
    /*
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    ver para que sirve*/
    background: rgb(52, 48, 88);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

.nav-bar-pc-logo {
    background: url(/imagenes/pompom.jpg) no-repeat 50%/contain;
    display: block;
    height: 30px;
    width: 114px
}

.nav-buscador {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.08);
    border-radius: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    padding: 0 8px;
    width: 50%;
}

.nav-buscador-lupa {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 16px;
    margin-right: 8px;
    width: 16px
}

.nav-buscador-lupa[focusing] path {
    fill: #fff;
    fill-opacity: 1
}

.user-panel-avatar img {
    border: 1px solid hsla(0,0%,100%,.1);
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px
}


