.directorio{
    background-color: rgb(49, 18, 61);
    position: fixed;
    height: 100%;
    width: 300px; 
    text-align: center;
}

#dir-titulo{
    font-size: 30px;
    font-family: 'Inknut';
    src: url(/fuentes/InknutAntiqua-ExtraBold.ttf);
    font-weight: bold;
    font-style: bold;
    text-align: center;
    padding: 20px 10px;
}

.menu{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.menu-item{
    font-size: 20px;
    font-family: 'Inknut';
    src: url(/fuentes/InknutAntiqua-Light.ttf);
    font-style: bold;
    margin: 5px 10px;
    padding: 20px 0px;
    color: rgb(197, 195, 86);
    text-decoration: none;
    background-color: rgb(107, 94, 170);
    border-radius: 10px;
}

.menu-item:hover{
    color: rgb(126, 110, 24);
    background-color: rgb(40, 30, 88);
}

.barra-direccion{
    display: flex;
}

.info {
    min-height: 100vh;
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 20px 60px;
    background-color: rgb(65, 37, 109);
    box-sizing: border-box;
}