#contenedor-principal{
    position: relative;
    top: 56px; /* Baja el contenedor 56px */
    height: calc(100% - 56px); /* Asegura que ocupe el 100% del alto menos 56px */
    width: 100%;
    padding: 20px 60px;
    background-color: rgb(65, 37, 109);
    box-sizing: border-box;
}

header{
    height: 15%;
}

h1{
    margin: 0 0 20px 0;
} 

.calculadoras{
    height: 85%;
    display: flex;
    justify-content: space-between;
}
.cartas{
    text-align: center;
    width: 300px;
    height: 500px;
    background-color: aqua;
    display: inline-block;
    box-sizing: border-box;
}

.cajas {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative; /* Necesario para posicionar el botón */
}

.titulo-cartas{
    text-align: left;
    height: 50px;
    width: 200px;
    font-size: 25px;
    justify-self: center;
}

.descripcion{
    padding: 20px;
    width: 200px;
    justify-self: center;
    text-align: left;

}

.boton-empezar {
    background: rgb(65, 37, 109);
    border: 1px solid rgb(201, 177, 43);
    cursor: pointer;
    padding: 10px;
    height: 40px;
    width: 150px;
    position: absolute; /* Posiciona el botón */
    bottom: 50px; /* Ajusta según necesites */
    left: 50%;
    transform: translateX(-50%); /* Centra el botón horizontalmente */
}

