@font-face {
    font-family: "titulo";
    src: url(../../fuentes/InknutAntiqua-ExtraBold.ttf);
}

.directorio{
    background-color: rgb(54, 33, 102);
    border-right: rgb(37, 18, 90) 2px solid;
    position: fixed;
    height: 100%;
    width: 300px; 
    text-align: center;
}

#dir-titulo{
    font-size: 35px;
    color: rgb(189, 175, 95);
    font-family: 'Inknut';
    src: url(/fuentes/InknutAntiqua-ExtraBold.ttf);
    font-weight: bold;
    font-style: bold;
    text-align: center;
    padding: 20px 10px;
}

.menu{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}


.menu-button{
    font-size: 22px;
    font-family: 'Inknut';
    src: url(/fuentes/InknutAntiqua-Light.ttf);
    font-style: bold;
    margin: 5px 10px;
    padding: 20px 0px;
    color: rgb(54, 33, 102);
    text-decoration: none;
    background-color: rgb(177, 164, 91);
    border-radius: 10px;;
    cursor: pointer;
}

.menu-button:hover {
    background: rgba(106, 3, 138, 0.1);
    color: #fee295;
    box-shadow: 0 0 25px #c23bc78c;
}

