@font-face {
    font-family: "titulo";
    src: url(../../fuentes/InknutAntiqua-ExtraBold.ttf);
}




.ubicacion{
    display: flex;
    margin-bottom: 10px;
}
                                            
#titulo-info{
    padding: 0%;
    margin: 0px 0px 10px 0px;
    font-size: 30px;
    font-family: "titulo";

}

#link {
    font-family: 'Inknut';
    src: url(../fuentes/InknutAntiqua-Light.ttf);
}

#home-link {
    color: rgb(233, 196, 32);
    font-family: 'Inknut';
    src: url(/fuentes/InknutAntiqua-Light.ttf);
}

#home-link a {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Mantener el color de texto como está */
}




.info {
    position: relative; /* Necesario para posicionar la capa superpuesta */
    min-height: 100vh;
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 20px 20px 0px 40px;
    background: url('../../imagenes/skil.jfif') no-repeat center center/cover;
    box-sizing: border-box; /* Evita el desbordamiento de otros elementos */
}

.info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 37, 109, 0.7); /* Color con transparencia */
}


/* Contenido dentro de .info */
.info > * {
    position: relative;
     /* Asegura que el contenido esté por encima de la capa transparente */
}

.cursor{
    cursor: pointer;
}


.armas-contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 10px;
    margin-top: 50px;
    padding-block-end: 20px;
    min-height: 300px; /* Para mantener la altura fija */
}

.prueba {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(55, 29, 92, 0.9);
    width: 48%;
    height: 150px;
    min-width: 48%;
    min-height: 150px;
    box-sizing: border-box;
}

.contenedor-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ocupa el 100% de .prueba */
    height: 100%; /* Ocupa el 100% de .prueba */
}


.icono-info {
    background: rgb(226, 206, 115);
    border-radius: 10px;
    border: rgb(44, 23, 102) 1px solid;
    width: 100px;
    height: 100px;
    margin: 0 10px 0 25px; /* Ajusta este valor para mover el icono a la izquierda */
    align-self: center; /* Asegura que la imagen esté centrada verticalmente */
    z-index: 1;
}



.icono-info img {
    width: 100%;
    height: 100%; /* Ajusta automáticamente la altura en proporción */
    max-width: 100px; /* Máxima anchura */
    max-height: 100px; /* Máxima altura */
    object-fit: cover; /* Recorta la imagen si es necesario */
}

.info-escrita{
    height: 100%;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;

}

.info-escrita-elementos {
    display: flex; /* Alinea todo horizontalmente */
    align-items: center; /* Centra verticalmente los elementos dentro */
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    gap: 1px; /* Espacio entre los elementos, puedes ajustar este valor */
    height: 30%;
}

.icono-adicional {
    width: 20px; /* Ajusta al tamaño deseado */
    height: 20px;
    margin-left: 5px;
    background: rgb(33, 25, 68);
    padding: 2px;
    border-radius: 100%;
}


.nombre{
    padding: 0px 0px 5px 0px;
    text-align: left;
    color: rgb(84, 180, 218);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;

}

.descripcion{
    text-align: left;
    color: rgb(164, 131, 201);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    height: 70%;
}

.rareza {
    display: inline-flex;
    align-items: center;
    font-size: medium;
    margin-left: 5px;
    color: rgb(197, 174, 72); /* Puedes cambiar el color según prefieras */
}

.rareza svg {
    margin-left: 1px; /* Espacio entre el número y la estrella */
}


