@font-face {
    font-family: "titulo";
    src: url(../../fuentes/InknutAntiqua-ExtraBold.ttf);
}


.ubicacion{
    display: flex;
    margin-bottom: 10px;
}
                                            
#titulo-info{
    padding: 0%;
    margin: 0px 0px 10px 0px;
    font-size: 30px;
    font-family: "titulo";

}

#link {
    font-family: 'Inknut';
    src: url(../fuentes/InknutAntiqua-Light.ttf);
}

#home-link {
    color: rgb(233, 196, 32);
    font-family: 'Inknut';
    src: url(/fuentes/InknutAntiqua-Light.ttf);
}

#home-link a {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Mantener el color de texto como está */
}



.info {
    position: relative; /* Necesario para posicionar la capa superpuesta */
    min-height: 100vh;
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 20px 60px;
    background: url('../../imagenes/skil.jfif') no-repeat center center/cover; /* Imagen de fondo */
    box-sizing: border-box;/* Asegura que otros elementos no se sobrepongan */
}

/* Capa de color transparente */
.info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 37, 109, 0.7); /* Color con transparencia */
     /* Colocar capa por encima de la imagen de fondo */
}

/* Contenido dentro de .info */
.info > * {
    position: relative;
     /* Asegura que el contenido esté por encima de la capa transparente */
}



.cursor{
    cursor: pointer;
}


.armas-contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}


.prueba {
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(55, 29, 92, 0.9);
    display: flex;
    width: 48%;
    height: 150px;
    text-align: center;
    align-items: center;
}

.contenedor-info {
    display: flex;
    align-items: center; /* Centra verticalmente */
}

.icono-info {
    background: rgb(226, 206, 115);
    border-radius: 10px;
    border: rgb(44, 23, 102) 1px solid;
    width: 100px;
    height: 100px;
    margin: 0 10px 0 25px; /* Ajusta este valor para mover el icono a la izquierda */
    align-self: center; /* Asegura que la imagen esté centrada verticalmente */
    z-index: 1;
}


.info-arma{
    margin: 5px 15px 10px 10px;
}

.nombre{
    padding: 0px 0px 5px 0px;
    text-align: left;
    color: rgb(197, 174, 72);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;

}

.descripcion{
    text-align: left;
    color: rgb(164, 131, 201);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

.rareza {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 5px;
    color: rgb(197, 174, 72); /* Puedes cambiar el color según prefieras */
}

.rareza svg {
    margin-left: 2px; /* Espacio entre el número y la estrella */
}


