@font-face {
    font-family: "black";
    src: url(../../fuentes/InknutAntiqua-Black.ttf) format("truetype");
    font-weight: 900; /* Peso específico para Black */
    font-style: normal;
}

@font-face {
    font-family: "bold";
    src: url(../../fuentes/InknutAntiqua-Bold.ttf) format("truetype");
    font-weight: 700; /* Peso específico para Bold */
    font-style: normal;
}

@font-face {
    font-family: "extraBold";
    src: url(../../fuentes/InknutAntiqua-ExtraBold.ttf) format("truetype");
    font-weight: 800; /* Peso específico para ExtraBold */
    font-style: normal;
}

@font-face {
    font-family: "light";
    src: url(../../fuentes/InknutAntiqua-Light.ttf) format("truetype");
    font-weight: 100; /* Peso específico para Light */
    font-style: normal;
}

@font-face {
    font-family: "medium";
    src: url(../../fuentes/InknutAntiqua-Medium.ttf) format("truetype");
    font-weight: 500; /* Peso específico para Medium */
    font-style: normal;
}

@font-face {
    font-family: "regular";
    src: url(../../fuentes/InknutAntiqua-Regular.ttf) format("truetype");
    font-weight: 400; /* Peso específico para Regular */
    font-style: normal;
}

@font-face {
    font-family: "semiBold";
    src: url(../../fuentes/InknutAntiqua-SemiBold.ttf) format("truetype");
    font-weight: 600; /* Peso específico para SemiBold */
    font-style: normal;
}

/*-------------------------------------------------------------------*/

body {
    background: url('../../imagenes/fondo_4.jpg') no-repeat center center/cover;
    background-attachment: fixed; /* Hace que la imagen de fondo se quede fija mientras se desplaza el contenido */
    min-height: 100vh; /* Garantiza que el contenedor tenga al menos el tamaño de la pantalla */
    padding-top: 56px; /* Deja espacio en la parte superior para la barra */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    position: relative; /* Necesario para que la capa overlay cubra todo el cuerpo */
}

/* Capa traslúcida */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Esto asegura que cubra el cuerpo completo, incluso si la página es más larga */
    background-color: rgba(143, 48, 143, 0.507); /* Color con transparencia */
    z-index: -1; /* Asegura que el contenido esté por encima de la capa */
}

.ubicacion {
    display: flex;
    gap: 5px; /* Espacio entre los elementos dentro del nav */
}

#titulo-info {
    margin-top: 10px; /* Añade espacio entre el nav y el título */
    font-size: 30px;
    font-family: "titulo";
}

#link {
    font-family: 'light';
    font-size: small;
}

#home-link {
    color: rgb(233, 196, 32);
    font-family: 'light';
    font-size: small;
}

#home-link a {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Mantener el color de texto como está */
}

header{
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: flex-start; /* Alinea el contenido a la izquierda */
}

.info {
    position: relative; /* Necesario para posicionar la capa superpuesta */
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 20px;
    box-sizing: border-box; /* Evita el desbordamiento de otros elementos */
}

/* Contenedor para las armas con dos columnas */
.armas-contenedor {
    display: grid; /* Usamos grid para facilitar la creación de columnas */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
    gap: 2%; /* Espacio entre las columnas */
    row-gap: 10px;
    margin-top: 50px;
    min-height: 300px; /* Para mantener la altura fija */
    width: 100%;
}

/* Estilo para los elementos dentro del contenedor */
.prueba {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(54, 33, 102, 0.9);
    border: rgb(44, 23, 102) 2px solid;
    height: 150px;
    box-sizing: border-box;
    min-width: 100%; /* Esto asegura que se ajusten a la columna */
    margin-bottom: 10px; /* Espacio entre las tarjetas */
}

.contenedor-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ocupa el 100% de .prueba */
    height: 100%; /* Ocupa el 100% de .prueba */
}


.icono-info {
    background: rgb(226, 206, 115);
    border-radius: 10px;
    border: rgba(247, 222, 85, 0.452) 1.5px solid;
    width: 137px;
    height: 100px;
    margin: 0 10px 0 25px; /* Ajusta este valor para mover el icono a la izquierda */
    align-self: center; /* Asegura que la imagen esté centrada verticalmente */
    z-index: 1;
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del contenedor */
}

.icono-info img {
    width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    height: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    object-fit: contain; /* Recorta la imagen si es necesario para llenar el contenedor */
}

.info-escrita {
    height: 100%;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

.info-escrita-elementos {
    display: flex; /* Alinea todo horizontalmente */
    align-items: center; /* Centra verticalmente los elementos dentro */
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    gap: 1px; /* Espacio entre los elementos, puedes ajustar este valor */
    height: 30%;
}

.icono-adicional {
    width: 20px; /* Ajusta al tamaño deseado */
    height: 20px;
    margin-left: 5px;
    background: rgb(33, 25, 68);
    padding: 2px;
    border-radius: 100%;
}

.nombre {
    padding: 0px 0px 5px 0px;
    text-align: left;
    color: rgb(211, 192, 82);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.descripcion {
    text-align: left;
    color: rgb(164, 131, 201);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    height: 70%;
}

.rareza {
    display: inline-flex;
    align-items: center;
    font-size: medium;
    margin-left: 5px;
    color: rgb(197, 174, 72); /* Puedes cambiar el color según prefieras */
}

.rareza svg {
    margin-left: 1px; /* Espacio entre el número y la estrella */
}
