@font-face {
    font-family: "fuenteFiltro";
    src: url(../../fuentes/InknutAntiqua-Bold.ttf);
}

.caja-filtros{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contenedor-filtros {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    position: relative; 
}

.filtro {
    padding: 0px;
    font-size: 14px;
    font-family: "fuenteFiltro";
    width: 80px;
}

.filter-container {
    align-items: center;
}

#filter-toggle1, #filter-toggle2, #filter-toggle3 {
    width: 250px;
    background-color: rgb(54, 33, 102);
    border: rgb(44, 23, 102) solid 2px;
    color: rgb(194, 187, 75);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
}

#filter-options1, #filter-options2, #filter-options3 {
    width: 250px;
    box-sizing: border-box;
    margin-top: 0px;
    background-color: rgb(54, 33, 102);
    border: rgb(44, 23, 102) solid 2px;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    z-index: 5;
}

.hidden {
    display: none;
}

.filter-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
}

.filter-buttons button {
    background-color: rgb(194, 187, 75);
    color: rgb(54, 33, 102);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
}

.filter-buttons button:last-child {
    color: rgb(207, 186, 67);
    background-color: rgb(32, 18, 65);
    font-size: 12px;
}

/* CSS para personalizar el checkbox */
.label-container {
    display: flex;
    justify-content: space-between; /* Espacia el contenido */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    padding: 2px;
    cursor: pointer;
    font-size: 14px;
    font-family: "fuenteFiltro";
    color: rgb(25, 13, 53);
}

.label-container:hover {
    background-color: rgba(207, 186, 67, 0.1);
    color: rgb(207, 186, 67);
}

.label-container:hover input[type="checkbox"] {
    border-color: rgb(207, 186, 67);
}

label {
    order: 1;
    width: 100%; /* Ordena para que el texto esté a la izquierda */
}

input[type="checkbox"] {
    order: 2; /* Ordena para que el checkbox esté a la derecha */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(32, 18, 65);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

input[type="checkbox"]:checked {
    background-color: rgb(54, 33, 102);
    border-color: rgb(207, 186, 67);
}

input[type="checkbox"]:checked::after {
    content: '✔';
    color: rgb(207, 186, 67);
    font-size: 16px;
}


